{% extends "bike/base.html" %}

{% block content %}

<div class="nav-items" style="padding: 7% 25%; text-align: center; align-items: center;">
    <div class="col">
        <h2>Are you a  Driver</h2>
        <a class="button primary color2" href="{% url 'register_driver' %}">Sign up</a>
    </div>
    <div style="border-left: 2px solid white; height: 200px;">

    </div>
    <div class="col">
        <h2>Are you an passenger</h2>
        <a class="button  color2" href="{% url 'register_passenger' %}">Sign up</a>
    </div>
</div>

{% endblock %}  